.wrapper {
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .wrapper .container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 80px; 
    flex-wrap: wrap; 
  }
  
  .wrapper .product {
    flex: 0 1 calc(20% - 24px); 
    box-sizing: border-box;
    padding: 15px; 
    background: #ffffff; 
    border-radius: 10px; 
    transition: transform 0.3s; 
    margin: 0; 
  }
  
  .wrapper .product:hover {
    transform: scale(1.05); 
  }
  
  .wrapper .img {
    margin: 0 auto 10px; 
    width: 80px; 
    height: 80px; 
    line-height: 80px;
  }
  
  .wrapper .img i {
    font-size: 50px; 
    color: #1b305b(0, 0%, 99%); 
  }
  
  .wrapper .product h3 {
    font-weight: 500;
    color: #1b305b; 
  }
  
  .wrapper p {
    font-size: 15px;
    margin-top: 5px; 
    color: #1b305b; 
  }

  .fa-truck-fast, 
  .fa-id-card, 
  .fa-shield, 
  .fa-headset {
    color: #1b305b;
  }

  
  @media (max-width: 768px) {
    .wrapper .product {
      flex: 0 1 calc(50% - 20px); 
    }
  }
  
  @media (max-width: 480px) {
    .wrapper .product {
      flex: 0 1 calc(100% - 20px); 
    }
  }