.sidebar {
    position: relative;
    width: 200px;
    height: 100vh;
    background-color: #2C3E50;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a .icon {
    margin-right: 10px; /* Adds space between icon and text */
}

.sidebar ul li a.active {
    font-weight: bold;
}

.logout-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logout-button a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout-button a .icon {
    margin-right: 8px;
}

.logout-button a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .sidebar {
        width: 20%;
    }
}
