/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.sidebar {
    position: relative;
    width: 200px;
    height: 100vh;
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font globally */
}

.sidebar h2 {
    align-items: center;
    margin: 40px 0 40px;
    font-size: 27px; /* Adjust font size for the heading */
    font-family: 'Poppins', sans-serif; /* Ensure Poppins is applied */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.sidebar ul li {
    margin-bottom: 20px; /* Increase spacing between the list items */
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px; /* Adjust font size for buttons */
    padding: 10px 0;  /* Add padding to increase clickable area */
    font-family: 'Poppins', sans-serif; /* Ensure Poppins is applied */
}

.sidebar ul li a .icon {
    margin-right: 12px; /* Adjust space between icon and text */
    font-size: 20px; /* Adjust size of the icons */
}

.sidebar ul li a:hover {
    font-size: 19px; /* Increase font size on hover */
}

/* Remove bold effect from active links */
.sidebar ul li a.active {
    font-weight: normal; /* Change bold to normal for all active links */
}

.logout-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logout-button a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px; /* Adjust font size for logout */
}

.logout-button a .icon {
    margin-right: 8px;
    font-size: 20px; /* Adjust icon size for logout */
}

.logout-button a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .sidebar {
        width: 20%;
    }
}
