/* Header.css */
.web-header {
    background-color: rgb(20, 48, 36); 
    padding: 19px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: sticky; 
    top: 0; 
    z-index: 1000;
}

.header-container {
    margin: auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    font-weight: bold;
    color: white;
}

.logo a {
  text-decoration: none;
}

.icon-text {
    margin: auto;
    font-size: 1.6rem;
    color: white;
    @media (max-width: 768px) {
        font-size: 1.3rem;
    }
}

.sub-icon-text {
  font-size: 0.9rem;
  color: #ddbb68;
  @media (max-width: 768px) {
      font-size: 0.7rem; 
  }
}

.profile-dropdown {
    margin: auto;
    background-color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.profile-dropdown img {
    border-radius: 50%;
}

.custom-dropdown-menu {
    width: 100%; 
    min-width: unset;
    max-width: none; 
}

/* Responsive styles */
@media (max-width: 992px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .web-header {
        padding: 0 1rem;
    }

    .logo {
        font-size: 1.2rem;
        margin: auto;
    }

    .profile-dropdown {
        margin-top: 1rem;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-container-header {
    display: flex;
}

.layout-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.sidebar {
    justify-content: center;
    width: 250px;
    background-color: rgb(20, 48, 36);
    color: white;
    padding: 30px;
    transition: width 0.3s ease;
}

.content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    .header-container {
        padding: 0.5rem;
    }

    .sidebar {
        width: 50px; 
        /* overflow: hidden; */
    }

    .content {
        margin-left: 0; /* No margin for content */
    }

    .sidebar.open {
        width: 250px; /* Expanded width */
    }

    .content.open {
        margin-left: 250px; /* Shift content when sidebar is open */
    }
}

