.modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    width: 30vw;
    height: 62vh;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 3000;
}

@media (max-width: 768px) {
    .modal-content {
      width: 70vw;
      height: 70vh;
    }
}

.add-customer-form {
    display: flex;
    flex-direction: column;
}

.add-customer-form h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.btn {
    padding: 10px 15px;
    font-size: 1rem;
}

.text-danger {
    color: rgb(245, 46, 46);
    font-size: 0.875rem;
}

.proceed-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.proceed-modal-body {
    display: flex;
    flex-direction: column;
}

.modal-title {
    text-align: center;
    margin-bottom: 20px;
}

.customer-info h4, .form-group label, .modal-buttons button {
    margin-bottom: 10px;
}

.customer-info span, .form-group span {
    font-weight: bold;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bi-chevron-down {
    position: absolute;
    right: 15px;
    font-size: 16px; 
    color: #333; 
    pointer-events: none; 
    top: 50%;
    transform: translateY(-50%); 
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
}