.scrollable-container-items {
    overflow-y: auto;
    max-height: calc(100vh - 267px);
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    -ms-overflow-style: none; 
}

.scrollable-container-order {
    overflow-y: auto;
    max-height: calc(100vh - 330px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    -ms-overflow-style: none;  
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.custom-btn-reset {
    border: 2px solid rgb(245, 46, 46);
    color: rgb(245, 46, 46);
    background-color: transparent;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.custom-btn-reset:hover {
    background-color: rgb(245, 46, 46);
    color: white;
}

.custom-btn-reset .svg-inline--fa {
    margin-right: 5px;
}

.custom-btn-proceed {
    border: 2px solid #5cb85c;
    color: #5cb85c;
    background-color: transparent;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.custom-btn-proceed:hover {
    background-color: rgb(20, 48, 36);
    color: #ddbb68;
}

.custom-btn-proceed .bi {
    margin-right: 10px;
}

.custom-btn-add-customer {
    border: 2px solid #007bff;
    color: #007bff;
    background-color: transparent;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.custom-btn-add-customer:hover {
    background-color: #007bff;
    color: white;
}

.custom-btn-add-customer .bi {
    margin-right: 5px;
}

.category-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.category-scroll-container .nav-pills {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.category-scroll-container .nav-item {
    flex: 0 0 auto;
    margin-right: 0.5rem;
}

.btn-outline-secondary {
    border: none;
}

.category-scroll-container::-webkit-scrollbar {
    display: none;
}

.custom-modal .modal-content {
    display: flex;
    flex-direction: column;
    max-height: 40vh;
}

.custom-user-modal .modal-content {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

@media (max-width: 768px) {
    .custom-btn-reset {
        margin-left: 10px;
    }
  }

  



