/* Header.css */
.web-header {
    background-color: rgb(20, 48, 36); 
    padding: 19px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: sticky; 
    top: 0; /* Stick to the top */
    z-index: 1000;
}

.header-container {
    margin: auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  font-weight: bold;
}

.logo a {
  text-decoration: none;
}

.icon-text {
    margin: auto;
    font-size: 1.6rem;
    color: white;
    @media (max-width: 768px) {
        font-size: 1.3rem;
    }
}

.sub-icon-text {
  font-size: 0.9rem;
  color: #ddbb68;
  @media (max-width: 768px) {
      font-size: 0.7rem; 
  }
}

.profile-dropdown {
    margin: auto;
    background-color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.profile-dropdown img {
    border-radius: 50%;
}

.custom-dropdown-menu {
    width: 100%; 
    min-width: unset;
    max-width: none; 
}

/* Responsive styles */
@media (max-width: 992px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .web-header {
        padding: 0 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .profile-dropdown {
        margin-top: 1rem;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.layout-container-header {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.layout-content {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    width: 100%;  
    height: 88vh; 
    box-sizing: border-box;
}

.sidebar {
    height: calc(100vh - 12vh);
    display: flex;
    width: 290px;
    background-color: rgb(20, 48, 36);
    color: #ddbb68;
    padding: 20px;
    font-family: 'Poppins', sans-serif; 
}

@media (max-width: 768px) {
    .header-container {
        padding: 0.5rem;
    }

    .sidebar {
        width: 0%;
    }
}

